{{#if errors }}
    <div class="alert alert-danger">
        {{#each errors}}
            <i class="fas fa-exclamation-triangle"></i> {{ msg }} <br>
        {{/each}}
    </div>
{{/if}}

<!-- ------------- ~ Prénom ~ -------------  -->
<div class="form-group mt-2">
    <label>Prénom</label>
    <input type="text" name="firstname"
           placeholder="Prénom."
           value="{{ body.firstname }}"
        {{#with (ifIn errors "param" "firstname")  }}
           class="form-control is-invalid"
        {{else}}
           class="form-control"
        {{/with}}
    >
    {{#with (ifIn errors "param" "firstname")  }}
        <div class="invalid-feedback">
            {{ msg }}
        </div>
    {{else}}
        <small class="form-text text-muted">
            Saisissez le prénom du contact.
        </small>
    {{/with}}
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Nom ~ -------------  -->
<div class="form-group mt-2">
    <label>Nom</label>
    <input type="text" name="lastname"
           placeholder="Nom."
           value="{{ body.lastname }}"
        {{#with (ifIn errors "param" "lastname")  }}
           class="form-control is-invalid"
        {{else}}
           class="form-control"
        {{/with}}
    >
    {{#with (ifIn errors "param" "lastname")  }}
        <div class="invalid-feedback">
            {{ msg }}
        </div>
    {{else}}
        <small class="form-text text-muted">
            Saisissez le nom du contact.
        </small>
    {{/with}}
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Email ~ -------------  -->
<div class="form-group mt-2">
    <label>Email</label>
    <input type="email" name="email"
           placeholder="Email."
           value="{{ body.email }}"
        {{#with (ifIn errors "param" "email")  }}
           class="form-control is-invalid"
        {{else}}
           class="form-control"
        {{/with}}
    >
    {{#with (ifIn errors "param" "email")  }}
        <div class="invalid-feedback">
            {{ msg }}
        </div>
    {{else}}
        <small class="form-text text-muted">
            Saisissez l'email du contact.
        </small>
    {{/with}}
</div> <!-- .form-group.mt-2 -->

<!-- ------------- ~ Téléphone ~ -------------  -->
<div class="form-group mt-2">
    <label>Téléphone</label>
    <input type="tel" name="tel"
           placeholder="Téléphone."
           value="{{ body.tel }}"
        {{#with (ifIn errors "param" "tel")  }}
           class="form-control is-invalid"
        {{else}}
           class="form-control"
        {{/with}}
    >
    {{#with (ifIn errors "param" "tel")  }}
        <div class="invalid-feedback">
            {{ msg }}
        </div>
    {{else}}
        <small class="form-text text-muted">
            Saisissez le téléphone du contact.
        </small>
    {{/with}}
</div> <!-- .form-group.mt-2 -->
