<div class="container">
    <div class="row">
        <div class="col">
            {{>flash}}
            <div class="p-5 mb-4 bg-light rounded-3 d-flex mt-5">
                {{#with contact}}
                    <div class="container-fluid">
                        <h1 class="display-5 fw-bold">{{firstname}} {{lastname}}</h1>
                        <p class="col-md-8 fs-4">{{ email }}</p>
                        <p class="col-md-8 fs-4">{{ tel }}</p>
                        <button class="btn btn-warning btn-lg mt-2" type="button">Modifier le contact</button>
                        <button class="btn btn-danger btn-lg mt-2" type="button">Suprimer le contact</button>
                        <button class="btn btn-primary btn-lg mt-2" type="button">Retourner aux contacts</button>
                    </div>
                {{/with}}
                <div class="container-fluid text-center">
                    <img src="{{url}}" alt="qrcode" class="shadow" />
                </div>
            </div>
        </div>
    </div>
</div>
